<h1>Dishes</h1>

<p><a href="dishes/new" class="btn btn-default">New Dish</a></p>
<table class="table">
  <% @dishes.each do |dish| %>
    <tr>
      <td><a href="/dishes/<%= dish.id %>"><%= dish.name %></a></td>
    </tr>
  <% end %>
</table>


