<h1>Add a New Restaurant</h1>

<form action="/restaurants" method="POST">

  <div class="form-group">
    <label for="name">Name of the Restaurant</label>
    <input name="name" type="text" class="form-control" id="name" placeholder="Enter name">
  </div>

  <div class="form-group">
    <label for="cuisine">Cuisine</label>
    <input name="cuisine" type="text" class="form-control" id="cuisine" placeholder="Enter cuisine type">
  </div>

  <div class="form-group">
    <label for="location">Location</label>
    <input name="location" type="text" class="form-control" id="location" placeholder="Enter location of restaurant">
  </div>

  <div class="form-group">
    <label for="description">Description</label>
    <textarea rows="3" name="description" type="text" class="form-control" id="description" placeholder="Enter description of dish"></textarea>
  </div>

</form>

<p><a href="" class="btn btn-primary">Save</a></p>